@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceberg&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.Crimson {
  font-family: 'Crimson', sans-serif;
}
.Iceberg {
  font-family: 'Iceberg', sans-serif;
}
.zen-dots-regular {
  font-family: "ZenDots", sans-serif;

}

@font-face {
    font-family: 'StrongSword';
    src: url('./assets/Fonts/StrongSword.TTF');
}